<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>2022 Advent of Code</h3>
    <hr>
    <table border="1" width="80%">
    	<thead>
    		<tr>
    			<th>Day</th>
    			<th>Title</th>
    			<th>Solution</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>Day</td>
    			<td>Title</td>
    			<td>Solution</td>
    		</tr>
    	</tbody>
    </table>
</body>
</html>